.main{
    width: 100%;
    min-height: calc(100vh - 82px);
    padding: 30px 238px;
}
hr {
    margin: 80px 0 !important;
}
.circle {
    border-radius: 100%;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
    margin: 50px 0 40px 0;
}
h1 {
   font-size: 70px !important;
   font-weight: 700 !important;
   color: rgba(0, 101, 255, 1) !important;
   line-height: 70px !important;
}
main .dark {
    background: rgba(34, 34, 34, 1);
    color: white;
}
main .dark h1 {
    color: white !important;
}
main .dark a {
    color: white;
    text-decoration: underline !important;
}

@media(max-width: 1100px) {
    .main h1 {
        font-size: 50px !important;
        line-height: normal !important;
    }
}

@media(max-width: 920px) {
    .main {
        padding: 30px 160px;
    }
    .main h1 {
        font-size: 40px !important;
    }
}

@media(max-width: 690px) {
    .main {
        padding: 30px 50px;
    }
    .main h1 {
        font-size: 28px !important;
    }
}